tickTime=2000
initLimit=5
syncLimit=2
leaderServes=yes
forceSync=no
autopurge.snapRetainCount=5
autopurge.purgeInterval=24
dataDir=/var/lib/zookeeper
leaderPort=2888
clientPort=2181
electionPort=3888
